.spaced li {
  margin:0 0 10px 0;
}

.shadow {
  box-shadow:0 14px 20px 0 rgba(0,0,0,0.2),0 10px 24px 0 rgba(0,0,0,0.19) !important;
}

.backgrounds{
  background: rgb(83, 157, 211);
}

.headline h2 {
  color: white;
  letter-spacing: 0.05em;
  font-variant: small-caps;
}

.reveal section img {
  background: none;
  border: none;
  box-shadow: none;
}

.reveal a {
  color: white;
}

.reveal a:hover {
  color: white;
  font-weight: bold;
}

.reveal div.left, .reveal div.eventstorming {
    left:-8.33%;
    text-align: left;
    float: left;
    width:50%;
    z-index:-10;
    font-size:75%;
}

    .reveal div.left img{
        width:100%;
    }

    .reveal div.eventstorming img, {
        height:80%;
        width:80%;
    }

.reveal div.right {
    left:31.25%;
    top: 75px;
    float: right;
    text-align: right;
    z-index:-10;
    width:50%;
    font-size:75%;
}
